<html>
  <head>
    <title>Betrayal@HOTH: Lobby</title>
    <script src="http://fb.me/react-0.4.1.js"></script>
    <script src="http://fb.me/JSXTransformer-0.4.1.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
  </head>
  <body>	
<form method="POST">
<div class="row">
<div class="col-md-2">
	<h3>CurrentGames</h3>
	<ul class="nav nav-pills nav-stacked" name="gameselect"></ul>
</div>
<div class="col-md-10" name="gamedata" style="display:none">
	<h3>Game Data</h3>
	<div class="row">
		<div class="col-md-7">
			<h2 id="game_name">Game Name</h2>
		</div>
		<div class="col-md-3">
			Not sure what this will be.... maybe just whitespace?
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
			<h3>Players</h3>
			<div id="players"></div>
		</div>
		<div class="col-md-8">
			<h3>Characters</h3>
			<div id="characters"></div>
		</div>		
	</div>	
		<input hidden name="index" type="text" value="-1">
	</form>
	<div class="row">
		<input type="submit" id="goto_game"  formmethod="GET" value="Enter This Game"/>
	</div>
	<script>
	var games = <%-JSON.stringify(games)%>;
	var gameSelect = document.getElementsByName("gameselect")[0];
	var chardata = document.getElementsByName("chardata")[0];
	var characters = document.getElementById("characters");
	var players = document.getElementById("players");
	var gameIndex = document.getElementsByName("index")[0];
	var gameName = document.getElementById("game_name");
	var gotoGame = document.getElementById("goto_game");
	var gameDataView = document.getElementsByName("gamedata")[0];
	
	var createStatView = function(arr, curr, original){
		var strResult = "";
		for(var x = 0; x<arr.length; x++){
			if(curr == x && original == x)
				strResult += "<b style=\"color:red\"><i style=\"color:green\">"+arr[x].toString()+"</i></b>, ";
			else if(curr == x)
				strResult += "<b style=\"color:red\">"+arr[x].toString()+"</b>, ";
			else if(original == x)
				strResult += "<i style=\"color:green\">"+arr[x].toString()+"</i>, ";
			else
				strResult += arr[x].toString()+", ";
		}
		return strResult;
	};
	
	// itemArr = array of the same type of obj
	// attrArr = the attribute path you want from each item in the array
	// returns = a string of all the attributes you obtained
	var attrStrList = function(itemArr, attrArr){
		var result="";
		
		for(var x = 0; x<itemArr.length; x++){
			var item = itemArr[x];
			for(var y = 0; y<attrArr.length; y++){
				item = item[attrArr[y]];
			}
			console.log(item);
			result += item.toString()+"</br>";
		}
		return result;
	}
	
	var loadGameProfile = function(index){
		//var index = parseInt(this.getAttribute("data-index"));
		gameName.innerHTML = games[index].name;		
		players.innerHTML = attrStrList(games[index].players,["name"]);
		characters.innerHTML = attrStrList(games[index].players,["character","name"]);
		gameIndex.value = index;
		updateGotoGame();
		gameDataView.removeAttribute("style");		
	};
	
	for(var x =0; x<games.length; x++){
		var li = document.createElement("li");
		var a = document.createElement("a");
		a.setAttribute("name", games[x].name);
		a.setAttribute("data-index", x.toString());
		a.onclick = loadGameProfile.bind(null,x);
		a.innerHTML= games[x].name;	
		li.appendChild(a);
		gameSelect.appendChild(li);
	}
	var createGame=function(){		
		var answer=prompt("Please enter a name for this game");
		if (answer!=null)
		  {			
			var form = document.createElement("form");
			form.setAttribute("method", "POST");
			form.setAttribute("action", "/creategame");
						
			var hiddenField = document.createElement("input");
			hiddenField.setAttribute("type", "hidden");
			hiddenField.setAttribute("name", "name");
			hiddenField.setAttribute("value", answer);
            form.appendChild(hiddenField);
            document.body.appendChild(form);
			form.submit();
         }
	};
	
	var updateGotoGame = function(){
		var destination = "/game/"+gameIndex.value.toString();
		console.log(destination);
		gotoGame.setAttribute("formaction",destination);
	}	
	var li = document.createElement("li");
	var a = document.createElement("a");
	a.innerHTML = "Create a Game!";	
	a.onclick = createGame;
	li.appendChild(a);
	gameSelect.appendChild(li);
	</script>
  </body>
</html>
