<html>
  <head>
    <title>Stock Scraper</title>
    <script src="http://fb.me/react-0.4.1.js"></script>
    <script src="http://fb.me/JSXTransformer-0.4.1.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
  </head>
  <body>	
	<div class="row">		
		<div class="col-md-8">Char Selection</div>
		<div class="col-md-4">Char Data</div>
	</div>
	<script>
		
	</script>
  </body>
</html>
